{% extends "landing.html" %}
{% load static %}

{% block Header %}
    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="{% static 'images/Code_zoomout.png' %}" alt="" />
            </span>
            <header class="major">
                <h1>My Projects</h1>
            </header>
            <div class="content">
                <p>On this page you can find some of the projects I've done. It will mostly be code projects, but there may be one or two experimental or more "physicsal" projects thrown in. Click on individual pictures within each project to learn more about them</p>
              </div>
        </div>
    </section>
{% endblock %}

{% block section1 %}
{% endblock %}

{% block section2 %}
    
    <section id="two" class="spotlights">
        {% for project in project_list %}
            <section>
                <a href="{{ project.get_absolute_url }}" class="resizable-image" data-position="center center">
                    {% if project.media.all %}
                        <img src="{{ project.media.all.1.file.url }}" alt="" class="resizable-image" width="400" data-position="bottom center" />
                    {%else%}
                         <img src="" alt="" data-position="center center" />
                    {%endif%}
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>{{ project.title }}</h3>
                        </header>
                        <p>{{ project.short_desc }}</p>
                        <ul class="actions">
                            <li><a href="{{ project.get_absolute_url }}" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
         {% endfor %}
    </section>
   
{% endblock %}  
{% block section3 %}
{% endblock %}  